.chat {
  background-color: rgb(255, 255, 255);
  width: 98%;
  display: flex;
  margin: auto;
  flex-grow: 1;
  min-height: 0;
  overflow: hidden;
}

.chatbar {
  background-color: rgb(240, 242, 245);
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 25%;
  
  .chatbar-header {
    padding: 1rem;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;

  }
  
  ul {
    flex-grow: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    
    
    .chat-index {
      cursor: pointer;
      min-height: 80px;
      height: 80px;
      list-style: none;
      background-color: rgb(255, 255, 255);
      display: flex;

      .chat-avatar-frame {
        height: 100%;
        aspect-ratio: 1 / 1;
        font-size: x-small;
        
        .chat-avatar {
          margin: .6rem;
          aspect-ratio: 1 / 1;
            
            img {
              background-color: grey;
              height: 100%;
              width: 100%;
              border-radius: 50%;
            }
        }
      }

      .chat-name {
        flex-grow: 1;
        margin-right: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid rgb(234, 237, 239)
      }
    }
    .chat-index:hover {
      background-color: rgb(245, 246, 246);
    }

    .chat-index.active {
      background-color: rgb(240, 242, 245);
    }
  }
}

.chat-content {
  background-color:rgb(239, 235, 229);
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 75%;
  flex-grow: 1;
  transition: 300ms;
  transition-property: min-width;
  
  .chat-content-header {
    padding: 1rem;
    background-color: rgb(240, 242, 245);
    display: flex;
    justify-content: space-between;

    h2 {
    }
    
    button {
      background-color: white;
    }
  }

  #placeholder {
    margin: auto;
  }

  .message-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    list-style: none;
    padding-right: 8rem;
    padding-left: 3rem;
    box-sizing: border-box;

    li {
      margin-top: 1rem;
      background-color: rgb(255, 255, 255);
      align-self: flex-start;
      padding: 0.8rem;
      border-radius: .5rem;
    }

    li.main-user {
      max-width: 40%;
      align-self: flex-end;
      background-color: rgb(224, 252, 215);
    }

    li.room-announcement {
      align-self: center;
      background-color: rgb(240, 242, 245);
      padding: 0.2rem 0.8rem;
      font-size: smaller;
      color: rgb(87, 100, 110);
    }
  }

  .muted {
    padding: 1rem;
    background-color: rgb(240, 242, 245);
    text-align: center;
  }

  form {
    display: flex;
    gap: 2rem;
    margin: 1rem;
    align-items: end;
    input {
      flex-grow: 1;
      flex-shrink: 0;
      height: 100%;
      box-sizing: border-box;
      border: none;
      border-radius: 1rem;
      padding: 0.6rem 1rem;
      font-size: medium;
      min-width: 300px;
    }
  }
}

.chat-content.shrink {
  min-width: 50%;
  transition: 300ms;
  transition-property: min-width;
}

.chat-details {
  background-color: white;
  min-width: 25%;
  transform: translateY(-20%);
  opacity: 0;
  transition: transform 0ms 300ms, opacity 200ms;

  h2 {
    padding: 1rem;
    background-color: rgb(240, 242, 245);
  }

  .img-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 2rem;

    img {
      aspect-ratio: 1 / 1;
      background-color: grey;
      min-width: 80%;
      max-width: 80%;
      border-radius: 50%;
    }
  }

  .room-header {
    padding-bottom: 1rem;
    text-align: center;

    .room-name {
      font-size: x-large;
    }
  }




  .chat-detail-ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;

      img {
        aspect-ratio: 1 / 1;
        width: 15%;
        max-width: 50px;
        border-radius: 50%;
        margin: 1rem;
      }

      p {
        align-self: center;

        span {
          font-size: xx-large;
        }
      }
    }
  }
}

.chat-details.active {
  opacity: 1;
  transform: translateY(0);
  transition: transform 700ms, opacity 800ms 200ms;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}