.navbar {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
  padding: 1rem;
	&_left{
		display: flex;
		gap: 3rem;

    a {
      padding: 0.5rem 1rem;
      color: inherit;
      text-decoration: none;
      border-radius: 0.5rem;
    }

    a:hover {
      background-color: rgb(245, 246, 246);
    }
    
    a.current {
      background-color: rgb(226, 228, 230);
    }
	}

	&_right{
		display: flex;
    gap: 4rem;
	}
}
