.profile {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-left: 3rem;

  .edit {
    align-self: flex-start;
  }

  .edit-profile {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .two-factor {
      
      .qr-form {
        display: flex;
        gap: 3rem;

        form {
          align-self: center;
          display: flex;
          flex-direction: column;
          gap: 2rem;
        }

        form > * {
          align-self: center;
        }
      }
    }

    .edit-avatar {
      img {
        max-width: 300px;
				max-height: 300px;
      }
    }
  }
}

.name-plate {
  text-align: center;


  .username {
    font-size: 30px;
    font-weight: 700;
  }
}
.user-profile {

  .avatar {
    display: flex;
    justify-content: center;
		min-height: 0;

    --thickness: 10px;
		.avatar-frame {
			width: 20%;
			aspect-ratio: 1 / 1;
			border-radius: 50%;
			overflow: hidden;
			display: flex;
			justify-content: center;				
			img {
			}
		}
    .avatar-frame.online {
      border: var(--thickness) solid rgb(80, 163, 97);
    }
    .avatar-frame.offline {
      border: var(--thickness) solid rgb(129, 132, 141);
    }
    .avatar-frame.busy {
      border: var(--thickness) solid rgb(231, 181, 78);
    }
    .avatar-frame.in-game {
      border: var(--thickness) solid rgb(54, 121, 229);
    }
  }


  .tables {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    gap: calc(100vw - 900px);
    margin-top: max(calc(4rem + ((100vw - 900px) * -0.6)), -250px);
    
    .table {
      width: 30%;
      max-width: 400px;
      aspect-ratio: 1 / 1;
      border: black solid 1px;
    }
  }

}

.blocked-profile {
  display: flex;
  flex-direction: column;
  flex-grow: 1;


  .blocked {
    text-align: center;
    margin: auto;
  }
  
}

.not-valid {
  color: red;
}