.room-list {

  min-width: 100%;
  overflow-y: scroll;

  button {
    align-self: flex-start;
  }
  
  .room-ul {
    list-style: none;
    padding: 1rem;

    li {
      border-bottom: 1px grey solid;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      height: 8vh;
      max-height: 100px;
      display: flex;

      .avatar {
        height: 100%;
        aspect-ratio: 1 / 1;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
  }
}